## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/mikequick/Documents/DU Data Boot Camp/Module 6 - WeatherPy/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Daru,PG,-9.0763,143.2092,79.03,87,100,16.91,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,51.46,66,40,6.91,light rain
2,2,Ilulissat,GL,69.2167,-51.1000,30.22,47,20,6.91,few clouds
3,3,Barrow,US,71.2906,-156.7887,30.22,74,90,5.75,overcast clouds
4,4,Cangucu,BR,-31.3950,-52.6756,61.81,86,100,10.49,overcast clouds

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for the trip? "))
max_temp = float(input("What is the maximum temperature you would like for the trip? "))

What is the minimum temperature you would like for the trip? 75
What is the maximum temperature you would like for the trip? 90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Daru,PG,-9.0763,143.2092,79.03,87,100,16.91,overcast clouds
15,15,Sakakah,SA,29.9697,40.2064,83.77,17,0,12.95,clear sky
16,16,Bubaque,GW,11.2833,-15.8333,82.85,75,63,11.41,broken clouds
18,18,Hilo,US,19.7297,-155.0900,76.62,80,75,8.05,moderate rain
19,19,Lompoc,US,34.6391,-120.4579,80.69,43,1,17.27,clear sky

In [66]:
# 4a. Determine if there are any empty rows. 
preferred_cities_df.count()

City ID                206
City                   206
Country                205
Lat                    206
Lng                    206
Max Temp               206
Humidity               206
Cloudiness             206
Wind Speed             206
Current Description    206
dtype: int64

In [73]:
PC_new_index_df = preferred_cities_df.reset_index()
PC_new_index_df

,index,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,0,Daru,PG,-9.0763,143.2092,79.03,87,100,16.91,overcast clouds
1,15,15,Sakakah,SA,29.9697,40.2064,83.77,17,0,12.95,clear sky
2,16,16,Bubaque,GW,11.2833,-15.8333,82.85,75,63,11.41,broken clouds
3,18,18,Hilo,US,19.7297,-155.0900,76.62,80,75,8.05,moderate rain
4,19,19,Lompoc,US,34.6391,-120.4579,80.69,43,1,17.27,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
201,677,677,Gigmoto,PH,13.7796,124.3900,79.79,91,100,14.99,very heavy rain
202,682,682,Bathsheba,BB,13.2167,-59.5167,83.01,83,75,27.63,broken clouds
203,683,683,Abu Dhabi,AE,24.4667,54.3667,87.91,89,20,2.30,few clouds
204,686,686,Hammond,US,41.5834,-87.5000,84.69,54,1,4.00,clear sky
205,688,688,Manokwari,ID,-0.8667,134.0833,79.09,77,31,2.35,scattered clouds

In [74]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
PC_new_index_df.loc[PC_new_index_df.City == 'Opuwo', :]

,index,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
156,537,537,Opuwo,NaN,-18.0607,13.84,78.62,16,0,5.64,clear sky

In [76]:
preferred_cities_df = preferred_cities_df.drop(preferred_cities_df.index[156])

In [77]:
preferred_cities_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Daru,PG,-9.0763,143.2092,79.03,87,100,16.91,overcast clouds
15,15,Sakakah,SA,29.9697,40.2064,83.77,17,0,12.95,clear sky
16,16,Bubaque,GW,11.2833,-15.8333,82.85,75,63,11.41,broken clouds
18,18,Hilo,US,19.7297,-155.0900,76.62,80,75,8.05,moderate rain
19,19,Lompoc,US,34.6391,-120.4579,80.69,43,1,17.27,clear sky

In [78]:
# Checking for null values specifically within Country.
preferred_cities_df.count()

City ID                205
City                   205
Country                205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Current Description    205
dtype: int64

In [79]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Daru,PG,79.03,overcast clouds,-9.0763,143.2092,
15,Sakakah,SA,83.77,clear sky,29.9697,40.2064,
16,Bubaque,GW,82.85,broken clouds,11.2833,-15.8333,
18,Hilo,US,76.62,moderate rain,19.7297,-155.0900,
19,Lompoc,US,80.69,clear sky,34.6391,-120.4579,
24,Hamilton,US,82.96,scattered clouds,39.1834,-84.5333,
25,Butaritari,KI,81.55,overcast clouds,3.0707,172.7902,
29,Columbus,US,81.97,scattered clouds,39.9612,-82.9988,
31,Fare,PF,77.77,clear sky,-16.7000,-151.0167,
34,Kununurra,AU,75.18,few clouds,-15.7667,128.7333,

In [80]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [106]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Daru,PG,79.03,overcast clouds,-9.0763,143.2092,Daru Lodge
15,Sakakah,SA,83.77,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment
16,Bubaque,GW,82.85,broken clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
18,Hilo,US,76.62,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Lompoc,US,80.69,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [102]:
# 7. Drop the rows where there is no Hotel Name
hotel_df = hotel_df.drop(labels=[112, 127, 194, 234, 350, 386, 432, 452, 465, 553, 587, 620], axis=0)

In [114]:
# 8a. Create the output File (CSV)
output_data_file = '/Users/mikequick/Documents/DU Data Boot Camp/Module 6 - WeatherPy/World_Weather_Analysis/Weather_Database/Vacation_Search/WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [115]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [119]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))